img {
  
  max-width:50%;
  max-height:50%;
  width:102px;
  height:128px;
  /* text-indent:-9999px; */
}

#dryer {
  /* background-image: url('/images/15_Dryer.png'); */
  /* background-image: url('https://play.google.com/store/apps/details?id=com.target.ui'); */
  
}
