.todo-list-item{
  border: 1px dashed gray;
	/* background-color: silver; */
	padding: 0.2em 1em;
	margin: 0.5em;
  line-height: 0.7em;
  min-width: 9em;
	cursor: move;  
}

.btn-table{
  margin-left: 0.4em;
  padding: 0.2em;
}